@page
@model Chino.IdentityServer.Pages.Account.LoginModel
@{
}


<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
    </div>

    <div class="row">
        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Account Login</h2>
                    </div>
                </div>
            </div>
        }
    </div>
</div>